@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    /* criar variaveis no css é só colocar -- */
    --cor0: white;
    --cor1: #5EE2F7;

}

header {
    background: linear-gradient(#2D6C75, #5EE2F7);
    min-height: 150px;
}

header > h1 {
    color: var(--cor0);
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 30pt;
    padding-top: 30px;
    margin-bottom: 0px;
}

header > p {
    color: var(--cor0);
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2em;
    padding: 20px;
    max-width: 500px;
    margin: auto;
}
nav > a {
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    color: #096775;
    margin-right: 20px;
    margin-left: 30px;
    font-weight: bold;

}
nav >a:hover {
    border: solid 1px black;
    padding: 7px;
    border-radius: 20px;
    background-color: #5EE2F7;
    transition: 0.2s;
}

body {
    background-color: #5EE2F7;
}
p > a {
    text-decoration: none;
    color: #2D6C75;
    font-weight: bold;
}
p > a:hover {
    text-decoration: none;
    color: #2D6C75;
    font-weight: bold;
    text-decoration: underline;
}


body > section {
    background-color: #5ee2f6;
    margin-left: 5%;
    margin-right: 5%;
}
section > h1 {
    color: #2D6C75;
    font-weight: bolder;
    font-size: 30pt;
    margin: 0px;
    padding: 30px;
}
section > p {
    padding: 20px;
    text-indent: 30px;
    font-size: 15pt;
    text-align: justify;   
}
p > em {
    color: #2D6C75;
    font-weight: bold;
}
section > h2 {
    color: #2D6C75;
    background: linear-gradient(45deg, #86cdd788, #fff);
    text-indent: 10px;
    font-size: 20pt;
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
}
section > h2:hover {
    color: #2D6C75;
    background: linear-gradient(45deg, #86cdd788, #fff);
    text-indent: 10px;
    font-size: 23pt;
    margin: 20px;
    padding: 5px;
    transition: 0.3s;
    border-radius: 20px;
}
div#img {
    display: flex;
    justify-content: center;
}
div.video {
    
    background-color: #b3e2e7;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 50%;
    margin: 0px -20px 30px -20px;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

div#more {
    background-color: #b3e2e7;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
div#more > h3 {
    color: #ffffff;
    background: #2f6e78;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
    font-size: 20pt;
    margin-bottom: 10px;
}
div#more > h3:hover {
    color: #cbcbcb;
    background: #2f6e78;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 23pt;
    transition: 0.3s;
}
div#more > p {
    padding: 20px;
    text-indent: 30px;
    font-size: 15pt;
    text-align: justify;
}

div#more > ul {
    list-style-type: none;
    columns: 2;
    font-weight: bold;
    padding: 20px;
    text-indent: 30px;
    font-size: 15pt;
    text-align: justify;
}
footer {
    background: linear-gradient(3600deg, #2D6C75, #5EE2F7);
    text-indent: 10px;
    font-size: 20pt;
    margin: 0px;
    padding: 10px;
    padding-bottom: 50px;
}
footer > h1 {
    font-size: 25pt;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    margin-bottom: 20px;
}
footer > p {
    display: flex;
    color: white;
    justify-content: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 9pt;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px rgba(0, 0, 0, 0.292);
    border-radius: 20px;
    margin: auto;
}

